{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'read_email/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Radley&display=swap" rel="stylesheet">
    <title>{% block title %}Archive Recommerce{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li class= "logo"><a href="/">THE ARCHIVE</a></li>
            <li><a href="/get-started">Login/Get Started</a></li>
            <li><a href="contact.asp">Marketplace</a></li>
            <li><a href="about.asp">Who we are</a></li>
          </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>